/*-- bus layouts -- */
.busLayoutBlock .busBodeyWrapp{
    float: left;
    padding-bottom: 17px;
    padding-top: 17px;
	text-align: left;
	clear: both;
}
.busLayoutBlock .busBodeyWrapp:nth-of-type(1n + 2){
	margin-top: 20px;
}
.busLayoutBlock .busBodey{
    height: 180px;
    padding-right: 49px;
    position: relative;
}
.busLayoutBlock .busBodey .driver{
    background-color: #f8c90f;
    border-radius: 6px;
    bottom: 22px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    left: 195px;
    line-height: 31px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: auto;
    transform: rotate(-90deg);
    transform-origin: left bottom 0;
    width: 93px;
    z-index: 2;
}
.busLayoutBlock .busBodey .seats{
    display: block;
    float: right;
    overflow: hidden;
    padding-left: 165px;
    padding-top: 18px;
    position: relative;
    z-index: 2;
}
.busLayoutBlock .busBodey .frontPart{
    background-image: url("../images/minibus/frontPart.png");
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 222px;
    z-index: 1;
}
.busLayoutBlock .busBodey .backPart{
    background-image: url("../images/minibus/backPart.png");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    bottom: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    width: 49px;
    z-index: 1;
}
.busLayoutBlock .busBodey .centralPart{
    background-image: url("../images/minibus/centralPart.png");
    background-position: center center;
    background-repeat: repeat-x;
    background-size: auto 100%;
    bottom: 0;
    left: 56px;
    position: absolute;
    right: 27px;
    top: 0;
    z-index: 0;
}
.busLayoutBlock .busBodey .mirror{
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 17px;
    left: 110px;
    position: absolute;
    width: 13px;
}
.busLayoutBlock .busBodey.threeRowsOfSeats .mirror{
	left: 89px;
}
.busLayoutBlock .busBodey.fiveRowsOfSeats .mirror{
	left: 134px;
}
.busLayoutBlock .busBodey .leftMirror{
    background-image: url("../images/minibus/leftMirror.png");
    bottom: -16px;
}
.busLayoutBlock .busBodey .rightMirror{
    background-image: url("../images/minibus/rightMirror.png");
    top: -16px;
}
.busLayoutBlock .busBodey .cell{
	width: 30px;
	height: 30px;
    margin: 5px 18px 0 0;
	float: left;
	border: 2px solid #888;
	border-radius: 7px;
    box-sizing: border-box;
}

.busLayoutBlock .busBodey .cell:hover{
	border-color: #d0d0d0;
}

.busLayoutBlock .busBodey .cell.seat{
	border: 2px solid #d0d0d0;
	background: #8d9094 none repeat scroll 0 0;
}

.busLayoutBlock .busBodey .cell.driverCell{
	background-color: #ffb800;
	border: none;
	border-radius: 7px;
}
.busLayoutBlock .busBodey .cell.driverCell::before{
	content: 'В';
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	color: white;
	line-height: 27px;
	text-align: center;
}

/*- 5 rows of seats -*/
.busLayoutBlock .busBodey.fiveRowsOfSeats{
	height: 215px;
	padding-right: 58px;
}
.busLayoutBlock .busBodey.fiveRowsOfSeats .seats{
	padding-left: 197px;
}
.busLayoutBlock .busBodey.fiveRowsOfSeats .frontPart{
	width: 265px;
}
.busLayoutBlock .busBodey.fiveRowsOfSeats .driver{
	left: 228px;
}
.busLayoutBlock .busBodey.fiveRowsOfSeats .backPart{
	width: 59px;
}
/*- 5 rows of seats end -*/

/*- 3 rows of seats -*/
.busLayoutBlock .busBodey.threeRowsOfSeats{
	height: 145px;
	padding-right: 39px;
}
.busLayoutBlock .busBodey.threeRowsOfSeats .seats{
	padding-left: 132px;
}
.busLayoutBlock .busBodey.threeRowsOfSeats .frontPart{
	width: 178px;
}
.busLayoutBlock .busBodey.threeRowsOfSeats .driver{
	left: 162px;
	width: 67px;
	font-size: 11px;
}
.busLayoutBlock .busBodey.threeRowsOfSeats .backPart{
	width: 39px;
}
/*- 3 rows of seats end -*/
.addRowColumnWrapp{
	height: 36px;
	line-height: 36px;
}
.addRowColumnWrapp > *{
	display: inline-block;
	line-height: 1em;
	vertical-align: middle;
	font-size: 18px;
	color: #b5b5ba;
}
.addRowColumnWrapp .buttons{
	position: relative;
	margin-left: 8px;
	height: 36px;
	line-height: 36px;
}
.addRowColumnWrapp .buttons > li{
	display: inline-block;
	width: 15px;
	height: 15px;
	box-sizing: border-box;
	border-radius: 4px;
	cursor: pointer;
	margin: 0;
	float: none;
	vertical-align: middle;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
}

.price-inp {
	margin-left: 35%;
	margin-top: 10%;
	min-width: 80px;
	max-width: 50px;
}
	.prices-tbl {
	vertical-align: middle;
	margin-bottom: 8px;
}
.pt-20 {
	padding-top: 20px !important;
	text-align: center;
}
.arrow {
	margin-right: 40%;
}
.background-spinner {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.603);
	z-index: 2;
	cursor: pointer;
}
.js_spinner-overlay {
	background-color: rgba(204, 204, 204, 0.5);
	position: absolute;
	top: 40%;
	right: 0;
	left: 45%;
	bottom: 0;
	z-index: 999;
	display: none;
	border: 5px solid white;
	border-radius: 50%;
	border-top: 5px solid sandybrown;
	width: 50px;
	height: 50px;
	-webkit-animation: spin 2s linear infinite; /* Safari */
	animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
	0% { -webkit-transform: rotate(0deg); }
	100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}
.addRowColumnWrapp.rowOp .buttons li.addRow{
	background-image: url('../images/cellsRowsButtons/addRow.png');
}
.addRowColumnWrapp.rowOp .buttons li.removeRow{
	background-image: url('../images/cellsRowsButtons/removeRow.png');
}
.addRowColumnWrapp.columnOp .buttons li.addColumn{
	background-image: url('../images/cellsRowsButtons/addCell.png');
	position: relative;
}
.addRowColumnWrapp.columnOp .buttons li.removeColumn{
	background-image: url('../images/cellsRowsButtons/removeCell.png');
}
.addRowColumnWrapp.rowOp .buttons li.addRow:hover{
	background-image: url('../images/cellsRowsButtons/addRowH.png');
}
.addRowColumnWrapp.rowOp .buttons li.removeRow:hover{
	background-image: url('../images/cellsRowsButtons/removeRowH.png');
}
.addRowColumnWrapp.columnOp .buttons li.addColumn:hover{
	background-image: url('../images/cellsRowsButtons/addCellH.png');
}
.addRowColumnWrapp.columnOp .buttons li.removeColumn:hover{
	background-image: url('../images/cellsRowsButtons/removeCellH.png');
}
.addRowColumnWrapp .buttons > li:hover{
	/*border-color: #7c7c7c;*/
}
.topFilter .addRowColumnWrapp .buttons > li{
	float: none;
}
.topFilter .filterElements .addRowColumnWrapp .buttons > li{
	margin: 0;
}
.addRowColumnWrapp .rowQuantity,
.addRowColumnWrapp .cellQuantity{
	color: #000000;
}
.addRowColumnWrapp.columnOp .buttons > li:nth-of-type(2){
	margin-left: 1px;
}
.addRowColumnWrapp.rowOp ul.buttons{
	height: 36px;
	width: 32px;
}
.addRowColumnWrapp.rowOp  > ul > li{
	display: block;
}
.addRowColumnWrapp.rowOp  > ul.buttons > li:nth-of-type(2){
	margin-top: 4px;
}
.addRowColumnWrapp .buttons{
	margin-left: 0;
}
.addRowColumnWrapp span.cellQuantity,
.addRowColumnWrapp span.rowQuantity{
	min-width: 22px;
	text-align: center;
}
/*-- bus layouts end -- */
/*-- cell popup --*/
.busLayoutBlock .busBodey .seats{
	overflow: visible;
}
.busLayoutBlock .busBodey .cell{
	position: relative;
	cursor: pointer;
}
.busLayoutBlock .busBodey.order .cell{
	cursor: auto;
}
.busLayoutBlock .busBodey.order .cell.active,
.busLayoutBlock .busBodey.order .cell.reserved{
	cursor: pointer;
}
.busLayoutBlock .busBodey .cell.seat{
	cursor: pointer;
}
.cell .cellPopupPositionBlock{
	position: absolute;
	bottom: -2px;
	left: -2px;
	height: 0;
	z-index: 1;
}
.cell .cellPopup{
	width: 30px;
	background-color: #6cd43e;
}
.cell .changeButton{
    height: 30px;
    width: 30px;
    cursor: pointer;
	transition-property: border-color;
	transition-duration: 0.7s;
}
.busBodey .cell .changeButton:hover{
	border: 2px solid #ff4200;
}
.cell .changeButton.changeToSeat,
.cell .changeButton.changeToFreeCell,
.cell .changeButton.cancelButton
{
    background: #8d9094 none repeat scroll 0 0;
    border: 2px solid #d0d0d0;
    border-radius: 7px;
    box-sizing: border-box;
}
.busBodey .cell .changeButton.changeToSeat,
.busBodey .cell .changeButton.changeToFreeCell,
.busBodey .cell .changeButton.cancelButton,
.busBodey .cell .changeButton.enterSeatNum input{
	background-color: rgb(120,120,120);
}

.busBodey .cell .changeButton.enterSeatNum input::placeholder {
	color: #999;
}

.cell .changeButton.cancelButton{
	background-image: url("../images/cellsRowsButtons/exit.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 14px;
}
.cell .changeButton.enterSeatNum{
    background: #8d9094 none repeat scroll 0 0;
    box-sizing: border-box;
    border-radius: 7px;
}
.cell .changeButton.changeToFreeCell{
	position: relative;
}

.cell .changeButton.changeToFreeCell::before{
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 14px;
	background-image: url("../images/cellsRowsButtons/close.png");
}

.cell .changeButton.changeToSeat{
	background: url("../images/cellsRowsButtons/add.png") no-repeat center center;
	background-size: 14px;
}

.cell .changeButton.changeToDriver{
	background-color: #e9bd10;
	border: 2px solid #e9bd10;
	border-radius: 7px;
	color: white;
	font-size: 16px;
	line-height: 26px;
	text-align: center;
	box-sizing: border-box;
}
.cell .changeButton.changeToDriver:hover{
/*//	line-height: 26px;*/
}
.cell .changeButton.enterSeatNum{
	position: relative;
	border: none;
}
.cell .changeButton.enterSeatNum:hover{
	border: none;
}
.cell .changeButton.enterSeatNum input{
 	display: block;
	border: 2px solid #c2c2c3;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border-radius: 7px;
	background-color: transparent;
	font-size: 16px;
	text-align: center;
	color: white;
	transition-property: border-color;
	transition-duration: 0.7s;
}
.cell .changeButton.enterSeatNum input:hover,
.cell .changeButton.enterSeatNum input:focus{
	border-color: #ff4200;
}
.cell .changeButton.enterSeatNum .enterBut{
	position: absolute;
	top: 0;
	left: 30px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	color: white;
	text-align: center;
	border-radius: 7px;
	background-color: #ff4200;
	font-size: 16px;
	box-shadow: 1px 1px 3px 1px #2b2b38;
	transition-property: background-color, opacity;
	opacity: 0;
	transition-duration: 0.7s;
}
.cell .changeButton.enterSeatNum .enterBut.visible{
	opacity: 1;
}
.cell .changeButton.enterSeatNum .enterBut:hover{
	background-color: #92d34e;
}
.busLayoutBlock .busBodey .cell .numElement{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	color: white;
	text-align: center;
	line-height: 26px;
}
.busLayoutBlock .busBodey .cell.active .numElement,
.busLayoutBlock .busBodey .cell.reserved .numElement{
	line-height: 30px;
}
.cell .cellPopup{
	box-shadow: 1px 1px 3px 1px #2b2b38;
	background-color: #8e9195;
	border-radius: 7px;
}
/*- top filter -*/
.topFilter > .left .filterElements li {
    float: left;
}
.topFilter ul{
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.addRowColumnWrapp {
    height: 36px;
    line-height: 36px;
}
.addRowColumnWrapp > * {
    display: inline-block;
    line-height: 1em;
    vertical-align: middle;
    font-size: 18px;
    color: #b5b5ba;
}
.addRowColumnWrapp span.cellQuantity, .addRowColumnWrapp span.rowQuantity {
    min-width: 22px;
    text-align: center;
}
.addRowColumnWrapp.rowOp ul.buttons {
    height: 36px;
    width: 32px;
}
.addRowColumnWrapp .buttons {
    position: relative;
    line-height: 36px;
}
.topFilter .addRowColumnWrapp .buttons > li {
    float: none;
}
/*- top filter end -*/
/*-- additional seats styles --*/
.busLayoutBlock .busBodey .cell.seat.active{
	background-color: #6cd43e;
	border: none;
}
.busLayoutBlock .busBodey .cell.seat.reserved{
	background-color: #f8c90f;
	border: none;
}
/*-- additional seats styles end --*/
.templateOptions{
	font-size: 14px;
}
.templateOptions span{
	display: inline-block;
	margin-left: 5px;
	background-color: #bc2622;
	padding: 2px 5px;
	color: white;
	cursor: pointer;
}
.templateOptions span.active{
	background-color: #4cce1f;
	cursor: auto;
}
.hiddenNumericBlocks .changeButton.enterSeatNum{
	display: none;
}

/*
D 0 1 2 3
C 0 1 2 3
B 0 1 2 3
A 0 1 2 3
*/
.busLayoutBlock .busBodey.threeRowsOfSeats {
	height: 145px;
	padding-right: 39px;
}

.busLayoutBlock .busBodey.threeRowsOfSeats .seats {
	padding-left: 132px;
}

.busLayoutBlock .busBodey.fiveRowsOfSeats .seats {
	padding-left: 197px;
}

.busLayoutBlock .busBodey.fiveRowsOfSeats {
	height: 215px;
	padding-right: 58px;
}

.border-bottom-dotted{
	border-bottom: 1px dotted #e7eaec!important;
}