.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #1ab394 !important;
    border-color: #1ab394;
}
button {
    opacity: 0.7 !important;
    border-radius: 5px !important;  
}
body {
    margin: 0;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    line-height: 1.6;
    color: white;
    background-color:grey;
    /*background-image: url('../images/background.jpg');*/
    text-align: left;
    font-size: 1rem;
}

select > option, option:active, option::selection, .form-control, .card, .navbar, #curr, .form-control:focus, table {
    background-color:rgba(77, 77, 77, 0.9) !important;
    color: white !important;
}

a, a:hover, .navbar-brand {
    text-decoration: none;
    color: white !important;
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
    margin: 0;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

.bg-app {
    background-color: #ebffdd24;
}

.bg-no-app {
    background-color: rgba(252, 215, 221, 0.219);
}

.icon {
    width: 4rem;
    height: 4rem;
}

span {
    color:white;
    font-size: 1.2rem;
}

.card, table {
    border-radius: 10px;
    border-color: white;
}

.form-control {
    border-radius: 5px;
    margin-top: 1%;
}

.on-station {
    margin: 0px !important;
    width: 45px;
    height: 45px;
}

.big-font {
    font-size: 2.5rem !important;
}

table {
    border-collapse: collapse;
    overflow: hidden;
  }
  
  th, td {
    padding: 1em;
    border-bottom: 1px solid white; 
  }

.modal-content {
    background-color: #414141;
    color: white !important;
}
.background-spinner {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.603);
	z-index: 2;
	cursor: pointer;
}
.js_spinner-overlay {
    background-color: rgba(204, 204, 204, 0.5);
    position: absolute;
    top: 40%;
    right: 0;
    left: 45%;
    bottom: 0;
    z-index: 999;
    display: none;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #1ab394;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.generate {
    margin-left: 5%;
}

.generate > span, .js_show_information {
    font-size: 1.25em !important;
}

.ibox-content {
    padding: 15px 20px 20px;
    background-color: rgba(77, 77, 77, 0.9) !important;
}